In [68]:
# import modules
import pandas as pd

In [74]:
# Create dataframe
raw_data = {'countrycode': [1, 2, 3, 2, 1]} 
df = pd.DataFrame(raw_data, columns = ['countrycode'])
df

   countrycode
0            1
1            2
2            3
3            2
4            1

In [75]:
# Create a set of dummy variables 
df_country = pd.get_dummies(df['countrycode'])
df_country

   1  2  3
0  1  0  0
1  0  1  0
2  0  0  1
3  0  1  0
4  1  0  0

In [76]:
# joining the new columns
df_new = df.join(df_country)

print("columns")
list(df_new)

columns

['countrycode', 1, 2, 3]

if the categorical attribute covers all the space (i.e. your dummy variables represent all the possible values for the attribute), then the last dummy variable can be perfectly predicted by the other N-1 dummies:

last_dummy = 1 if all sum(dummies[:N-1]) == 0 else 0

This introduces a heavy collinearity between your dummy variables (which is a very undesirable thing in linear/logistic regression) and that's why it is called dummy variable trap.

Usually, the way of fixing this this problem is to just remove the one dummy column (any would do, it does not have to be the last one). This removes the source of collinearity and, since the dummy could be predicted by the rest anyway, there is no loss of information at all from the original dataset

the sum of all category dummy variable for each row is equal to the intercept value of that row - in other words there is perfect multi-collinearity (one value can be predicted from the other values). Intuitively, there is a duplicate category: if we dropped the male category it is inherently defined in the female category (zero female value indicate male, and vice-versa).

The solution to the dummy variable trap is to drop one of the categorical variables

In [77]:
df_new = df_new.drop(columns=3)
df_new

   countrycode  1  2
0            1  1  0
1            2  0  1
2            3  0  0
3            2  0  1
4            1  1  0